@model AuthorInfoViewModel
@{
    ViewData["IsUserPanel"] = false.ToString();
}

<style>
    .w-100 {
        width: 100%;
    }

    .info-box {
        font-size: .8rem;
    }

    .select-user-img {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .user-img-box {
        width: 100px;
        height: 100px;
        margin: 0 auto 1rem auto;
    }
</style>

<section class="section author full-space mb-40 pt-55">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <!--widget-author-->
                <div class="widget-author inner-width">
                    @if (Model.ImageName != null)
                    {
                        <div class="img-box user-img-box">
                            <a asp-controller="Author" asp-action="Index" asp-route-authorId="@Model.AuthorId">
                                <img src="~/images/users/thumb200/@Model.ImageName" alt="@(Model.FirstName+" "+Model.LastName)">
                            </a>
                            </div>
                        
                    }
                    <h6><span>سلام، من @(Model.FirstName + " " + Model.LastName) هستم!</span></h6>
                    @if (Model.Description != null)
                    {
                        <div class="user-description">
                            @Html.Raw(Model.Description)
                        </div>
                        <br />
                    }
                    @if (Model.Articles.Count() > 0)
                    {
                        <div class="link">@ViewData["ArticlesCount"] مقاله</div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

@if (Model.Articles.Count > 0)
{
    <partial name="_ArticlesListPartial" model="@Model.Articles" view-data="ViewData" />
}
