@model ICollection<Article>
@{
    int pageCount = int.Parse(ViewData["PageCount"].ToString());
    bool isUserPanel = false;
    string controllerName = "Author";
    if (ViewData["IsUserPanel"] != null && ViewData["IsUserPanel"] == true.ToString())
    {
        isUserPanel = true;
        controllerName = "User";
    }
}

<style>
    .ellipsis-2 {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .link-none {
        cursor: pointer;
    }
</style>

@if (Model.Count > 0)
{
    <section class="section pt-85">
        <div class="container-fluid">
            <div class="row">
                @foreach (var article in Model)
                {
                    <div class="col-lg-4 col-md-6">
                        <div class="post-card">
                            <div class="post-card-image">
                                <a asp-controller="Article" asp-action="Show" asp-route-articleId="@article.Id">
                                    <img src="~/images/articles/@article.ImageName" alt="@article.Title">
                                </a>
                            </div>
                            <div class="post-card-content">
                                <h5>
                                    <a asp-controller="Article" asp-action="Show"
                               asp-route-articleId="@article.Id">@article.Title</a>
                                </h5>
                                <div class="short-description ellipsis-2">@Html.Raw(article.Text.Substring(0, 120))</div>
                                <div class="post-card-info">
                                    <ul class="list-inline">
                                        @if (!isUserPanel)
                                        {
                                            <li>
                                                <a asp-controller="Author"
                                       asp-action="Index"
                                       asp-route-authorId="@article.User.Id">
                                                    <img src="~/images/users/@article.User.ImageName"
                                             alt="@(article.User.FirstName+" "+article.User.LastName)">
                                                </a>
                                            </li>
                                            <li>
                                                <a asp-controller="Author"
                                       asp-action="Index"
                                       asp-route-authorId="@article.User.Id">
                                                    @(article.User.FirstName + " " + article.User.LastName)
                                                </a>
                                            </li>
                                        }
                                        <li class="dot"></li>
                                        <li>@article.CreateDate.ToShamsi()</li>
                                    </ul>
                                    @if (isUserPanel)
                                    {
                                        <br />
                                        <a class="categorie mb-0"
                               asp-controller="Article"
                               asp-action="Edit"
                               asp-route-articleId="@article.Id">ویرایش مقاله</a>

                                        <a href="javascript:void(0)"
                               class="categorie mb-0 link-none"
                               onclick="deleteArticle(this)">
                                            حذف مقاله
                                            <form asp-controller="Article"
                                      asp-action="Delete">
                                                <input type="hidden" name="articleId" value="@article.Id">
                                                <input type="hidden" name="authorId" value="@article.AuthorId">
                                            </form>
                                        </a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }

                @if (pageCount > 1)
                {
                    <!--pagination-->
                    <div class="col-lg-12">
                        <div class="pagination mt--10">
                            <ul class="list-inline">
                                @for (int i = 1; i < pageCount + 1; i++)
                                {
                                    <li class="active">
                                        <a asp-controller="@controllerName"
                               asp-action="Index"
                               asp-route-page="@i">@i</a>
                                    </li>
                                }
                                @*<li>
                        <a href="#">
                        <i class="arrow_carrot-2left"></i>
                        </a>
                        </li>*@
                            </ul>
                        </div>
                        <!--/-->
                    </div>
                }
            </div>
        </div>
    </section>
}