@model List<Comment>
@{
    var articleId = ViewData["ArticleId"];
}

@foreach (var comment in Model)
{
    <li class="comment-item">
        @if (comment.User.ImageName != null)
        {
            <div class="user-avatar">
                <img src="~/images/users/@comment.User.ImageName"
             alt="@(comment.User.FirstName+" "+comment.User.LastName)">
            </div>
        }
        <div class="content">
            <ul class="info list-inline">
                <li>@(comment.User.FirstName + " " + comment.User.LastName)</li>
                <li class="dot"></li>
                <li>@comment.CreateDate.ToShamsi()</li>
            </ul>
            @Html.Raw(comment.Text)
            @if (User.Identity.IsAuthenticated)
            {
                if (comment.UserId == Guid.Parse(User.Identity.Name))
                {
                    <div class="mb-1">
                        <a href="javascript:void(0)"
               onclick="editComment(this)"
               class="link">
                            <span class="d-none comment-id">@comment.CommentId</span>
                            <span class="d-none text">@comment.Text</span>
                            ویرایش
                        </a>
                        <a href="javascript:void(0)"
               onclick="deleteComment(this)"
               class="link">
                            <span class="d-none comment-id">@comment.CommentId</span>
                            حذف
                        </a>
                    </div>
                }


                <div>
                    <a href="javascript:void(0)"
               onclick="sendReply(this)"
               class="link">
                        <span class="d-none article-id">@articleId</span>
                        <span class="d-none parent-id">@comment.CommentId</span>
                        <i class="arrow_back"></i> پاسخ
                    </a>
                </div>
            }
        </div>
    </li>

    @if (comment.Replies.Count > 0)
    {
        <ul class="widget-comments pr-40">
            <partial name="_ShowCommentsPartial" model="comment.Replies" view-data="ViewData" />
        </ul>
    }
}